<div class="home-wrapper">

  <section class="hero-section">
    <h1>Boost Your Workout Fitness Today!</h1>
    <p>
      Join our gym and achieve your fitness goals with expert trainers,
      modern equipment, and flexible membership plans.
    </p>

    <div class="hero-buttons">
      <button routerLink="/register" class="primary-btn">Join Now</button>
      <!-- <button routerLink="/login" class="secondary-btn">Login</button> -->
    </div>
  </section>

  <section class="features-section">
    <div class="feature-card">
      <h3>🏋️ Modern Equipment</h3>
      <p>Train with the latest machines and tools.</p>
    </div>

    <div class="feature-card">
      <h3>🧑‍🏫 Expert Trainers</h3>
      <p>Certified trainers to guide your journey.</p>
    </div>

    <div class="feature-card">
      <h3>📅 Flexible Plans</h3>
      <p>Choose plans that fit your lifestyle.</p>
    </div>
  </section>

</div>
